section.about
    div.container

        img(src="images/about.webp", alt="").hand

        div.description
            h3 О КОМПАНИИ
            span За свою более чем 10-летнюю историю командой ООО «АтомИнтелМаш» накоплен уникальный опыт, развиты ключевые компетенции и выполнены разработки инновационных технологий, позволившие успешно реализовать ряд проектов <ссылка на раздел «Проекты»> в области создания изделий и комплексов нестандартного технологического оборудования для автоматизации производственных процессов на предприятиях атомной отрасли России.

        div.years
            h3 2022–2023
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: span В 2022–2023 годах в рамках формирования в АО «Русатом Сервис» <ссылка на сайт РусАС> бизнес-направления «Робототехника» была реализована сделка по приобретению компании и «ООО «АтомИнтелМаш» вошёл в контур управления Госкорпорации «Росатом» в качестве дочернего зависимого общества (ДЗО) АО «Русатом Сервис».
                    div.swiper-slide: span На следующем этапе своего развития ООО «АтомИнтелМаш» в качестве базовой организации формируемого в АО «Русатом Сервис» бизнес-направления призван решать стратегические задачи по разработке и внедрению передовых робототехнических решений в промышленности.
            div.navigation
                div.swiper-navigation
                    div.arrow: include ../../images/icons/swiper_arrow.svg
                    div.arrow: include ../../images/icons/swiper_arrow.svg