include ../elements/_mixin.pug

section.advantages

    div.background
        img(src="images/bg_bottom_desktop.svg", alt="").desktop
        img(src="images/bg_bottom_tablet.svg", alt="").tablet
        img(src="images/bg_bottom_mobile.svg", alt="").mobile

    div.container
        h2 Мы разделяем ценности #[br]Госкорпорации Росатом

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: +advantage('dark', 'images/icons/advantage_1.svg', 'На шаг впереди', 'Мы разбираемся в применяемых технологиях на уровень лучше, чем это требуется для конкретного проекта. Мы всегда стремимся знать, а не предполагать.')
                div.swiper-slide: +advantage('white', 'images/icons/advantage_2.svg', 'Ответственность за результат', 'Каждый из нас несет личную ответственность за результат, качество и сроки исполнения наших проектов. Мы все обсуждения стараемся нацеливать на принятие конкретных решений')
                div.swiper-slide: +advantage('blue', 'images/icons/advantage_3.svg', 'Эффективность', 'Мы стремимся думать всегда, чтобы быть эффективными во всем')
                div.swiper-slide: +advantage('white', 'images/icons/advantage_4.svg', 'Единая команда', 'Люди (сотрудники), востребованные со стороны проектных команд – главная ресурсная ценность компании и предмет постоянной заботы её руководства. Востребованность со стороны проектных команд – главный критерий оценки специалистов.')
                    div.accordion
                        div.accordion_content
                            span Именно способность работать в команде (прежде всего – в проектной команде), передавая ей (команде) свои индивидуальные компетенции и навыки для использования совместно с компетенциями и навыками других участников, обеспечивает синергию – взаимодействие или сотрудничество, дающее начало целому, которое больше, чем простая сумма его частей
                        div.accordion_caption
                            span.show Читать всё
                            span.hide Скрыть
                            include ../../images/icons/advantage_arrow.svg
                div.swiper-slide: +advantage('white', 'images/icons/advantage_5.svg', 'Уважение', 'Мы всегда стараемся понять позицию и мнение наших партнеров, чтобы наилучшим образом решить задачу. Мы прилагаем все усилия для объяснения заказчику наших решений.')
                div.swiper-slide: +advantage('dark', 'images/icons/advantage_6.svg', 'Безопасность', 'Безопасность – это и часть, и следствие надежности наших технических решений')

        div.navigation
            div.swiper-scrollbar
            div.swiper-navigation
                div.arrow: include ../../images/icons/swiper_arrow.svg
                div.arrow: include ../../images/icons/swiper_arrow.svg