section.contacts

    div.container

        div.image
            img(src="images/hand.webp", alt="").hand

        div.text

            h2 КОНТАКТЫ

            div.contacts
                a(href="tel:74950151973").phone +7 (495) 015 19 73
                a(href="mailto:info@atomintelmash.ru").email info@atomintelmash.ru

            div.small_divide

            div.adress
                strong Офис ООО «АтомИнтелМаш»
                span 141983, Московская обл., г. Дубна, #[br]ул. Программистов, Д. 4, Стр. 4, ОФИС 107

            div.big_divide

            div.adress
                strong Офис АО «Русатом Сервис»
                span 117335, г. Москва, #[br]Нахимовский проспект, дом 58 (БЦ ICUBE)
