section.documents

    div.container
        h2 Документы

        div.tabs

            div.tabs_captions
                div.tab_caption.opened Патенты
                div.tab_caption Лицензии

            div.tabs_contents
                div.tab_content.opened
                    div.swiper
                        div.swiper-wrapper
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.01.2017', 'PDF (3 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.03.2019', 'PDF (5.31 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.01.2022', 'PDF (4.44 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.05.2024', 'PDF (3.45 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.06.2019', 'PDF (7.12 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.03.2019', 'PDF (4.3 mb)')

                    div.navigation
                        div.swiper-scrollbar
                        div.swiper-navigation
                            div.arrow: include ../../images/icons/swiper_arrow.svg
                            div.arrow: include ../../images/icons/swiper_arrow.svg
                        
                div.tab_content
                    div.swiper
                        div.swiper-wrapper
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.01.2018', 'PDF (6.4 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.04.2018', 'PDF (1.6 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.02.2021', 'PDF (2.45 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.07.2022', 'PDF (3.89 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.09.2016', 'PDF (3.48 mb)')
                            div.swiper-slide: +document('Патент на изобретение 2635144', 'Патент на изобретение 2635144 от 20.04.2014', 'PDF (1.7 mb)')

                    div.navigation
                        div.swiper-scrollbar
                        div.swiper-navigation
                            div.arrow: include ../../images/icons/swiper_arrow.svg
                            div.arrow: include ../../images/icons/swiper_arrow.svg

        div.background