section.main

    div.background
        img(src="images/bg_top_desktop.svg", alt="").desktop
        img(src="images/bg_top_tablet.svg", alt="").tablet
        img(src="images/bg_top_mobile.svg", alt="").mobile

    div.container
        h1 РОБОТИЗИРОВАННЫЕ #[br]РЕШЕНИЯ И ПРОМЫШЛЕННАЯ #[br]АВТОМАТИЗАЦИЯ
        span Полный комплекс услуг по разработке #[br]и поставке роботизированных комплексов

    div.activity
        div.scroll
            img(src="images/icons/mouse.svg", alt="")
            img(src="images/icons/long_arrow.svg", alt="")
        h2 Направления #[br]деятельности
        button
            img(src="images/icons/message.svg", alt="")
            span Заказать консультацию