section.missions

    div.container
        div.mission
            img(src="images/icons/mission.svg", alt="")
            div.text
                small Наша
                h2 Миссия
                span Компетенции и возможности атомной отрасли России – для развития роботизации и автоматизации промышленности на современном уровне.
        div.target
            img(src="images/icons/target.svg", alt="")
            div.text
                small Наши
                h2 Цели
                span ООО «АтомИнтелМаш» – лидер бизнес-направления Госкорпорации «Росатом» на рынке промышленных робототехнических решений.
                br
                ul 
                    li Разработка и применение в роботизации промышленности технических решений на базе собственных «ноу-хау».
                    li Снижение себестоимости продукции и сроков исполнения проектов.
                    li Мировой уровень технологий промышленной роботизации.

    div.background