section.news
    div.container
        h2 Новости

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    div.news.big
                        img(src="images/news/1.webp", alt="").preview
                        div.text
                            small 12.02.2024
                            strong АО «Русатом Сервис» приняло участие в первом всероссийском Слете производственников России
                            span 2 февраля 2024 года в Москве прошел первый «Слёт производственников России». Организатором «Слёта» выступило Содружество предпринимателей-производственников «Цех»...

                div.swiper-slide
                    div.news
                        img(src="images/news/2.webp", alt="").preview
                        div.text
                            small 07.12.2023
                            strong ООО «АтомИнтелМаш» приняло участие в конференции «Экстремальная робототехника 2023»
                            span С 23 по 24 ноября в г. Санкт-Петербурге прошла 34-ая Международная научно-техническая конференция «Экстремальная робототехника 2023». Организатором выступил Государственный научный центр...

        div.navigation
            div.swiper-scrollbar
            div.swiper-navigation
                div.arrow: include ../../images/icons/swiper_arrow.svg
                div.arrow: include ../../images/icons/swiper_arrow.svg