include ../elements/_mixin.pug

section.projects

    div.background
        img(src="images/bg_middle_desktop.svg", alt="").desktop
        img(src="images/bg_middle_tablet.svg", alt="").tablet
        img(src="images/bg_middle_mobile.svg", alt="").mobile

    div.container

        h2 Реализованные #[br]проекты

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +project('КПР ГРФ: Камера переупаковки препаратов радия Государственного радиевого фонда', 'images/projects/1.webp', 'Силами OOO «АтомИнтелМаш» разработан и изготовлен роботизированный Аппаратно–программный технологический комплекс для всех технологических операций в камере переупаковки')
                div.swiper-slide
                    +project('Роботизированный комплекс изготовления форм для литья по выплавляемым моделям для заказчика «Протон-ПМ»', 'images/projects/2.webp', 'В настоящее время для производства высоко-технологических изделий сложной формы все чаще применяются технологии прецизионного литья по выплавляемым моделям')
                div.swiper-slide
                    +project('Техническое перевооружение установки «Суперкомпактор» ФГУП «РАДОН»', 'images/projects/3.webp', 'В 2017-2018 гг. была выполнено техническое перевооружение установки «Суперкомпактор», состоящее из следующих задач: модернизация пресса 2000 тн – перевод с 100 л на 200 л бочки с РАО')
                div.swiper-slide
                    +project('КПР ГРФ: Камера переупаковки препаратов радия Государственного радиевого фонда', 'images/projects/1.webp', 'Силами OOO «АтомИнтелМаш» разработан и изготовлен роботизированный Аппаратно–программный технологический комплекс для всех технологических операций в камере переупаковки')
                div.swiper-slide
                    +project('Роботизированный комплекс изготовления форм для литья по выплавляемым моделям для заказчика «Протон-ПМ»', 'images/projects/2.webp', 'В настоящее время для производства высоко-технологических изделий сложной формы все чаще применяются технологии прецизионного литья по выплавляемым моделям')
                div.swiper-slide
                    +project('Техническое перевооружение установки «Суперкомпактор» ФГУП «РАДОН»', 'images/projects/3.webp', 'В 2017-2018 гг. была выполнено техническое перевооружение установки «Суперкомпактор», состоящее из следующих задач: модернизация пресса 2000 тн – перевод с 100 л на 200 л бочки с РАО')
                
        div.navigation
            div.swiper-scrollbar
            div.swiper-navigation
                div.arrow: include ../../images/icons/swiper_arrow.svg
                div.arrow: include ../../images/icons/swiper_arrow.svg
