include ../elements/_mixin.pug

section.services
    div.container

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +service('Промышленная роботизация', 'images/services/1.webp')
                        span Создание робототехнических комплексов (РТК), предназначенных для роботизации промышленных производств:
                        br
                        br
                        ul
                            li - литейных (литьё по выплавляемым моделям);
                            li - металлообрабатывающих;
                            li - сварочных;
                            li - нанесения покрытий (покраска, торкретирование, аддитивные технологии);
                            li - прочих отраслей.
                        span НИОКР в области инновационных технологий и компонентов для промышленных РТК

                div.swiper-slide
                    +service('Производство и продажи промышленных роботов', 'images/services/2.webp')
                        ul
                            li - Крупноузловая сборка китайских промышленных роботов под собственным брендом «АИМ»
                            li - Локализация производства компонентов промышленных роботов на собственном заводе
                            li - Дистрибуция промышленных роботов «АИМ»
                            li - Техническая и сервисная поддержка интеграторов и конечных пользователей по внедрению промышленных роботов «АИМ»

                div.swiper-slide
                    +service('Нестандартное оборудование для атомной отрасли', 'images/services/3.webp')
                        span Конструирование и изготовление нестандартного оборудования (в том числе по лицензиям Ростехнадзора до 2-го класса безопасности включительно) для применения на объектах атомной промышленности:
                        br
                        br
                        ul
                            li - атомных станциях;
                            li - предприятиях ядерного топливного цикла;
                            li - пунктах хранения радиоактивных отходов.

        div.navigation
            div.swiper-scrollbar
            div.swiper-navigation
                div.arrow: include ../../images/icons/swiper_arrow.svg
                div.arrow: include ../../images/icons/swiper_arrow.svg
