section.supplier
    div.container
        img(src="images/supplier.webp", alt="").blank
        div.text
            h2 Поставщикам
            span.about ООО «АтомИнтелМаш» заинтересовано в поставках товаров и услуг. Выстраивание прочных взаимовыгодных отношений с поставщиками – важнейший элемент стратегии развития общества. Актуальные закупочные процедуры, проводимые ООО «АтомИнтелМаш», публикуются на электронной площадке Фабрикант.
            div.divide
            div.contacts
                span По вопросам взаимодействия пишите на адрес #[a(href="mailto:info@atomintelmash.ru") info@atomintelmash.ru]
                span Приглашаем к сотрудничеству!
            div.divide
            a(href="index.html").document
                include ../../images/icons/blank.svg
                span Карточка АИМ.docx
            div.divide