extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/_main.pug
    include sections/_services.pug
    include sections/_documents.pug
    include sections/_projects.pug
    include sections/_about.pug
    include sections/_missions.pug
    include sections/_advantages.pug
    include sections/_supplier.pug
    include sections/_news.pug
    include sections/_jobs.pug
    include sections/_personal.pug
    include sections/_contacts.pug