footer

    div.background
        img(src="images/bg_footer_desktop.svg", alt="").desktop
        img(src="images/bg_footer_tablet.svg", alt="").tablet
        img(src="images/bg_footer_mobile.svg", alt="").mobile

    div.container

        div.top
            a(href="index.html").logotype: img(src="images/logotype.svg", alt="")

            menu
                li: a(href="index.html") О компании
                li: a(href="index.html") Противодействие коррупции
                li: a(href="index.html") Направления
                li: a(href="index.html") Новости
                li: a(href="index.html") Проекты
                li: a(href="index.html") Контакты
                li: a(href="index.html") Сертификаты и лицензии
                li: a(href="index.html") Поставщикам
                li: a(href="index.html") Устойчивое развитие
                li: a(href="index.html") Вакансии

            div.subscribe
                span Подписаться на новости
                form
                    input(type="email", placeholder="E-mail")
                    button подписаться

        div.bottom
            a(href="index.html").policy Политика конфиденциальности
            span.copyright © 2024, ООО «АтомИнтелМаш»

            a(href="index.html").developed
                span Сайт разработан в
                img(src="images/mwi.svg", alt="")