header

    div.container

        a(href="index.html").logotype
            img(src="images/logotype.svg", alt="")

        menu
            li: a(href="#services") Направления
            li: a(href="#projects") Проекты
            li: a(href="#about") О компании
            li: a(href="#news") Новости
            li: a(href="#jobs") Вакансии
            li: a(href="#documents") документы
            li: a(href="#contacts") Контакты

        div.language
            a(href="index.html").active RU
            a(href="index.html") EN

        a(href="tel:74950151973").phone +7 (495) 015 19 73