section.about
    height: 1150px
    +screen(l)
        font-size: 12px
        line-height: 1.3em
        height: 595px
    +screen(s)
        height: max-content
        margin-bottom: -30px

    div.container
        position: relative
        +screen(s)
            display: grid

    img.hand
        position: absolute
        top: -50px
        left: 55%
        transform: translateX(-50%)
        width: 100%
        max-width: 1280px
        +screen(l)
            top: -16px
            width: 500px
            left: calc(50% + 38px)
        +screen(s)
            top: -25px

    div.description
        position: absolute
        top: 392px
        left: 260px
        max-width: 440px
        display: grid
        grid-gap: 34px
        +screen(l)
            top: 172px
            left: 38px
            max-width: 320px
            grid-gap: 14px
        +screen(s)
            top: 0px
            left: 0px
            position: relative
            margin-top: 163px
            margin-bottom: 32px

        h3
            font-weight: 700
            font-size: 50px
            line-height: 56px
            letter-spacing: 0.02em
            text-transform: uppercase
            color: white
            +screen(l)
                font-size: 24px
                line-height: 30px
            +screen(s)
                font-size: 16px
                line-height: 22px

        span
            color: #b9d2f4

    div.years
        position: absolute
        top: 510px
        left: calc(50% + 73px)
        width: 540px
        display: grid
        z-index: 1
        padding-top: 36px
        +screen(l)
            top: 278px
            left: calc(50% - 13px)
            width: 340px
        +screen(s)
            top: 0
            left: 0
            position: relative
            width: 100%
            padding-top: 41px
            padding-bottom: 28px

        & > *
            max-width: 75%
            margin: 0 auto

        h3
            font-weight: 400
            font-size: 68px
            line-height: 48px
            letter-spacing: 0.02em
            text-align: center
            text-transform: uppercase
            color: #333333
            margin-bottom: 36px
            +screen(l)
                font-size: 24px
                line-height: 30px
                margin-bottom: 10px

        div.swiper
            width: 100%
            min-width: 0
            text-align: center
            overflow: visible
            +screen(l)
                overflow: hidden

        div.swiper-slide
            &:first-child
                span
                    position: relative
                    display: block
                    width: 486px !important
                    left: 50%
                    transform: translateX(-50%)
                    +screen(l)
                        width: 100% !important

        div.navigation
            justify-self: center
            grid-template-columns: 1fr
            margin-top: 11px

        span
            text-align: center      
            color: #818d9c

        &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            display: block
            width: 600px
            height: 600px
            box-shadow: $shadow
            background-color: #eef7ff
            z-index: -1
            transform: translate(-50%, -50%) rotate(45deg)
            border-radius: 25px
            +screen(l)
                width: 300px
                height: 300px
                border-radius: 10px
            +screen(s)
                transform: translate(-50%, -50%)
                width: 100%
                height: 100%
