header
    background-color: white
    z-index: 9

    div.container
        display: flex
        justify-content: space-between
        align-items: center

    a.logotype
        display: grid
        align-items: center
        justify-items: center
        width: 128px
        height: 128px
        background-color: #025EA1
        border-bottom-left-radius: 16px
        border-bottom-right-radius: 16px
        +screen(l)
            width: 52px
            height: 52px
            border-bottom-left-radius: 8px
            border-bottom-right-radius: 8px
        
        img
            +screen(l)
                width: 34px

    menu
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        grid-gap: 14px
        font-size: 14px
        line-height: 18px
        letter-spacing: 0.02em
        text-transform: uppercase
        color: #333333
        +screen(l)
            display: none

        li
            padding: 10px
            +screen(1420px)
                padding: 5px
            a:hover
                color: #FD6925

    div.language
        display: grid
        grid-template-columns: repeat(2, max-content)
        grid-gap: 14px
        font-size: 14px
        line-height: 18px
        letter-spacing: 0.02em
        text-transform: uppercase
        color: #333333
        +screen(l)
            display: none

        a
            display: block
            padding: 10px
            border-radius: 14px
            &.active
                pointer-events: none
                background-color: #FD6925
                color: white
            &:hover
                color: #FD6925

    div.menu_icon
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        cursor: pointer
        display: none
        +screen(l)
            display: block
        div.open
            display: block
        div.close
            display: none
        &.open
            div.open
                display: none
            div.close
                display: block

    a.phone
        font-weight: 700
        font-size: 24px
        line-height: 31px
        text-transform: uppercase
        color: #333333
        +screen(l)
            font-size: 12px
            line-height: 1.3em

    div.mobile_menu
        display: grid
        grid-column: full
        grid-template-rows: 0fr
        position: absolute
        width: 100%
        top: 100%
        left: 0
        transition: grid-template-rows .2s
        display: none
        +screen(l)
            display: grid

        div.wrap
            overflow: hidden
            box-shadow: 0px 18px 18px #021b3b1a, 22px 24px 32px #021b3b17, 50px 53px 44px #021b3b0d, 90px 94px 52px #021b3b03, 140px 147px 57px #021b3b00
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px

        div.content
            display: grid
            align-items: center
            grid-template-columns: 1fr max-content
            grid-gap: 25px
            background-color: white 
            padding: 10px 40px
            +screen(s)
                padding: 30px 20px
                grid-template-columns: 1fr
                grid-gap: 20px

        menu
            display: grid
            font-size: 12px
            grid-gap: 20px
            +screen(s)
                grid-auto-flow: row
                grid-gap: 10px
            li
                padding: unset

        div.language
            display: grid
            grid-gap: 8px
            font-size: 12px
            a
                padding: 8px
                border-radius: 11px

        &.open
            grid-template-rows: 1fr