section.projects
    margin-top: 88px
    margin-bottom: 88px
    +screen(l)
        margin-top: 70px
        margin-bottom: 70px
    +screen(s)
        margin-top: 47px
        margin-bottom: 35px

    div.container
        display: grid
        grid-gap: 11px

    h2
        font-weight: 700
        font-size: 50px
        line-height: 64px
        letter-spacing: 0.02em
        text-transform: uppercase
        +screen(l)
            font-size: 24px
            line-height: 26px
        +screen(s)
            font-size: 16px
            line-height: 19px

    div.swiper
        width: 100%
        min-width: 0
        overflow: visible
        margin-top: 40px
        +screen(l)
            margin-top: unset

        div.swiper-slide
            opacity: 0
            margin-top: 0
            pointer-events: none
            transition: all .3s
            height: auto !important
            &.open
                z-index: 1

        div.swiper-slide-visible
            opacity: 1
            pointer-events: auto

        div.swiper-slide-next
            margin-top: -56px
            +screen(l)
                margin-top: unset
    
    div.swiper-slide
        &:not(.swiper-slide-active):not(.swiper-slide-next)
            &.open
                div.project
                    border-radius: 25px
                    border-top-left-radius: unset
                    border-bottom-left-radius: unset
                    +screen(l)
                        border-radius: 11px
                        border-top-left-radius: unset
                        border-bottom-left-radius: unset

            div.additional
                width: 100%
                right: 100%
                left: unset
                box-shadow: -18px -6px 18px #021b3b1a, -22px -24px 32px #021b3b17, -50px -53px 44px #021b3b0d, -90px -94px 52px #021b3b03, -140px -147px 57px #021b3b00
                border-radius: unset
                border-top-left-radius: 25px
                border-bottom-left-radius: 25px
                +screen(l)
                    border-top-left-radius: 11px
                    border-bottom-left-radius: 11px
                    padding: 10px

                div.wrap
                    border-left: unset
                    padding-left: unset
                    border-right: 1px solid #C1DBEE
                    padding-right: 22px

    div.navigation

        div.swiper-scrollbar
            background-color: #0077D1

            div.swiper-scrollbar-drag
                background-color: #FD6925

        div.swiper-navigation
            div.arrow
                border: 1px solid #023373

                svg
                    path
                        fill: #023373

                &:hover
                    svg
                        path
                            fill: #FD6925

    div.background
        position: absolute
        top: -379px
        left: 50%
        margin-left: -928px
        z-index: -1
        +screen(l)
            top: -225px
            margin-left: -457px
        +screen(s)
            top: -146px
            margin-left: -411px

        img.desktop
            display: block
            +screen(l)
                display: none

        img.tablet
            display: none
            +screen(l)
                display: block
            +screen(s)
                display: none

        img.mobile
            display: none
            +screen(s)
                display: block